@page "/chat"
@using MyBlog.Service.Shared.Interfaces.AI
@using MyBlog.Service.Shared.Interfaces.AI.Enum
@using OpenAI.Chat

@inject IAIModelService _aiModelService
@inject IAIServiceFactory _aiServiceFactory

<div class="chat-container">

    <div class="chat-content-container">

        @foreach (var _chatMessage in _aiChatMessages)
        {
            @if (_chatMessage.Role == AIChatMessageRole.User)
            {
                <MudChat Color="Color.Transparent" ChatPosition="ChatBubblePosition.End">

                    <MudChatBubble Class="chat-bubble">
                        @_chatMessage.Content
                    </MudChatBubble>

                </MudChat>
            }
            else if (_chatMessage.Role == AIChatMessageRole.Assistant)
            {
                <MudChat Color="Color.Transparent" ChatPosition="ChatBubblePosition.Start">

                    <MudAvatar Style="align-self: start;">
                        <MudImage Src="/icons/walle.png" />
                    </MudAvatar>

                    <MudChatBubble Class="chat-bubble">
                        @_chatMessage.Content
                    </MudChatBubble>

                </MudChat>
            }
            else if (_chatMessage.Role == AIChatMessageRole.System)
            {

            }
        }

    </div>

    <div class="chat-form-container">

        <InputTextArea class="chat-textarea" @bind-Value="@_enteredMessage" rows="4" @onkeydown="OnKeyDown">

        </InputTextArea>

        <div class="btn-group-inner-container">

            <div class="btn-group-inner btn-group-inner-left">
            </div>

            <div class="btn-group-inner btn-group-inner-right">

                <MudSelect @bind-Value="_selectedModel.Code" HelperText="String" FitContent="true">
                    @foreach (var _model in _aiModels)
                    {
                        <MudSelectItem Value="@_model.Code">@_model.DisplayName</MudSelectItem>
                    }
                </MudSelect>

                <MudIcon Class="btn-send" Icon="@Icons.Material.Outlined.Send" @onclick="OnSendMessageClicked"></MudIcon>

            </div>

        </div>

    </div>

</div>

<style>

    /******************** layout ********************/

    .chat-container {
        display: flex;
        flex-direction: column;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    /******************** chat content ********************/

    .chat-content-container {
        min-height: 46vh;
        margin-bottom:20px;
    }

    .mud-chat-bubble {
        background-color: rgba(60, 60, 60, 1);
        font-size: 1rem;
    }

    /******************** chat text area ********************/
    .chat-textarea-container {
    }

    .chat-textarea {
        width: 100%;
        color: white;
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid rgb(61, 68, 77);
        padding: 10px 20px;
    }

        .chat-textarea:hover {
            border: 1px solid rgb(61, 68, 77)
        }

        .chat-textarea:focus {
            border: 2px solid rgb(49, 109, 202)
        }

    .btn-group-inner-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-group-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mud-select-input {
        color: white;
        font-size: 1rem;
        text-align: center;
    }

        .mud-select-input .mud-icon-default {
            color: white;
        }

    .btn-send {
        margin-bottom: 16px;
        margin-left: 12px;
    }

    .btn-send:hover {
        cursor: pointer;
    }

</style>
